<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fyldb_nubitsoft" connectionString="Data Source=202.143.125.108/fyldb;Persist Security Info=True;User ID=nubitsoft;Password=101171;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="MyWinApp.Properties.Settings.fyldb_nubitsoft" connectionString="Data Source=202.143.125.108/fyldb;Persist Security Info=True;User ID=nubitsoft;Password=101171;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="MyWinApp.Properties.Settings.ConnectionString" connectionString="Data Source=202.143.125.108/fyldb;Persist Security Info=True;User ID=RSRIR;Password=101171;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
